<div class="about-1">
	<div class="container">
	<h3 class="title-txt"><span>O</span> nás</h3>
		<div class="ab-agile">
			<div class="col-md-6 aboutleft1">
				<h3>Spolek Krajská rada seniorů Libereckého kraje</h3>
				<p class="para1">Pobočný spolek Rada seniorů České republiky, Krajská rada seniorů Libereckého kraje, p.s. se zaměřuje na všechny oblasti spojené s ochranou seniorů. Našim cílem, jako představitele seniorů, je spolupracovat při koncipování mezigeneračních vztahů, dialogu a tolerance, aktivizace starší generace pro duchovní, kulturní, sociální, ekonomický a společenský rozvoj, včetně volnočasových aktivit.</p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Usilujeme o dostupnou zdravotní péči</p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Požadujeme dostupné a kvalitní bydlení</p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Rozvoj humanitární pomoci a péče o seniory</p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Poskytujeme odborné sociální poradenství</p>
			</div>
			<div class="col-md-6 aboutright1">
				<img src="images/libkraj.png" class="img-responsive" alt="Barevný život">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>





{% include 'tag_cile.html' %}





<!-- gallery -->
	<div class="gallery">
		<div class="container">
			<h3 class="title-txt"><span>F</span>otogalerie</h3>
			<div class="gallery_gds">
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="images/gal_1.jpg" class="swipebox" title="Zábavná talentová soutěž Babička Libereckého kraje 2020.">
								<img class="img-responsive img-style row2" src="images/gal_1.jpg" alt="Zábavná talentová soutěž Babička Libereckého kraje 2020."  />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="images/gal_2.jpg" class="swipebox" title="Zábavná talentová soutěž Babička Libereckého kraje 2020.">
								<img src="images/gal_2.jpg" alt="Zábavná talentová soutěž Babička Libereckého kraje 2020." class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="images/gal_3.jpg" class="swipebox" title="Zábavná talentová soutěž Babička Libereckého kraje 2020.">
								<img src="images/gal_3.jpg" alt="Zábavná talentová soutěž Babička Libereckého kraje 2020." class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="images/gal_4.jpg" class="swipebox" title="Zábavná talentová soutěž Babička Libereckého kraje 2020.">
								<img src="images/gal_4.jpg" alt="Zábavná talentová soutěž Babička Libereckého kraje 2020." class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="images/gal_5.jpg" class="swipebox" title="Zábavná talentová soutěž Babička Libereckého kraje 2020.">
								<img src="images/gal_5.jpg" alt="Zábavná talentová soutěž Babička Libereckého kraje 2020." class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="images/gal_6.jpg" class="swipebox" title="Zábavná talentová soutěž Babička Libereckého kraje 2020.">
								<img src="images/gal_6.jpg" alt="Zábavná talentová soutěž Babička Libereckého kraje 2020." class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="images/gal_7.jpg" class="swipebox" title="Zábavná talentová soutěž Babička Libereckého kraje 2020.">
								<img src="images/gal_7.jpg" alt="Zábavná talentová soutěž Babička Libereckého kraje 2020." class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="images/gal_8.jpg" class="swipebox" title="Zábavná talentová soutěž Babička Libereckého kraje 2020.">
								<img src="images/gal_8.jpg" alt="Zábavná talentová soutěž Babička Libereckého kraje 2020." class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="images/gal_9.jpg" class="swipebox" title="Zábavná talentová soutěž Babička Libereckého kraje 2020.">
								<img src="images/gal_9.jpg" alt="Zábavná talentová soutěž Babička Libereckého kraje 2020." class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //gallery -->





