<div class="about-1">
	<div class="container">
	<h3 class="title-txt"><span>P</span>oradna</h3>
		<div class="ab-agile">
			<div class="col-md-6 aboutleft1">
				<p class="para1"><strong>Akreditovaná poradna pro sociální a bytovou problematiku</strong></p>
				<ul class="con_inner_text black-text-ul">
					<li><span class="fa fa-map-marker" aria-hidden="true"></span> Mlýnská 611/35, <br>Liberec IV-Perštýn, <br>460 01 Liberec</label></li>
					<li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:poradna(t)liberec(z)rscr(t)cz">poradna<i class="dot"></i>liberec<i class="fa fa-at"></i>rscr<i class="dot"></i>cz</a></li>
					<li><span class="fa fa-phone" aria-hidden="true"></span>
						<i class="d-four"></i><i class="d-eight"></i><i class="d-five"></i>
						<i class="d-one"></i><i class="d-zero"></i><i class="d-eight"></i>
						<i class="d-nine"></i><i class="d-two"></i><i class="d-seven"></i>
					</li>
					<li><span class="fa fa-user" aria-hidden="true"></span>Vedoucí poradny: Ing. Milan Taraba</li>
					<li><span class="fa fa-clock-o" aria-hidden="true"></span>
						Úřední hodiny:<br>
						Pondělí: 8–12:00 hod.<br>
						Úterý: 8–16:00 hod.<br>
						Středa: 13–17:00 hod.<br>
						Čtvrtek: 8–12:00 hod.
					</li>
				</ul>
			</div>
			<div class="col-md-6 aboutright1">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1261.8006119875931!2d15.05939652280542!3d50.76442752891113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4709369e0fb91b17%3A0xd01b025ff61e1f11!2zTWzDvW5za8OhIDYxMS8zNSwgUGVyxaF0w71uLCA0NjAgMDEgTGliZXJlYywgQ3plY2hpYQ!5e0!3m2!1sen!2suk!4v1606834243706!5m2!1sen!2suk" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>