<div class="about-1">
	<div class="container">
	<h3 class="title-txt"><span>L</span>icence</h3>
		<div class="ab-agile">
				<h3>Licenční ujednání</h3>
				<p class="para1">
                    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br>Veškerý obsah je dostupný pod licencí <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                </p>
				<h3>Provozovatel stránek</h3>
				<p class="para1">
                    Provozovatelem těchto stránek je pobočný spolek
					Rada seniorů České republiky, Krajská rada seniorů Libereckého kraje, p.s.
					se sídlem
					Mlýnská 611/35, Liberec IV-Perštýn, 460 01 Liberec,
					identifikační číslo: 04450515,
					spisová značka: L 63522 vedená u Městského soudu v Praze
                </p>
			<div class="clearfix"></div>
		</div>
	</div>
</div>