<div class="about-1">
	<div class="container">
	<h3 class="title-txt"><span>T</span>est</h3>
		<div class="ab-agile">
				<p class="para1">
                    Vážení vzhledem k tomu, že se letos z epidemiologických důvodů nebude konat seminář Bezpečnost pro seniory, tak Krajská rada seniorů Libereckého kraje připravila prověření vašich znalostí formou testu. Z odeslaných odpovědí budou vylosováni tři soutěžící, kteří obdrží věcné ceny. Účastníkem testu může být pouze osoba starší 65 let s trvalým bydlištěm v Libereckém kraji. Termín uzávěrky testů je 15. prosince 2020. Po zodpovězení všech otázek v testu zadejte váš email, na který vám přijde vyrozumění.<br>
					<strong>Zdroje:</strong> <a href="https://slideslive.com/38940671/bezpecna-domacnost-seniora-cast-1">Bezpečná domácnost seniora 1</a>,
					<a href="https://slideslive.com/38940693/bezpecna-domacnost-seniora-cast-2?ref=account-folder-62848-folders">Bezpečná domácnost seniora 2</a>
                </p>
				<!-- DOTAZNIK -->

				<!-- INSERT THIS CODE TO BODY ON THE PLACE WHERE QUESTIONNAIRE SHOULD BE GENERATED -->
				<form id="questiroud"> <!-- Form for Questiroud's questionnaire -->
					<input type="hidden" name="validation" id="validation"> <!-- Field for validation (is not send to processor) -->
					<div id="questiroud-quiz-wrong"></div> <!-- Canvas for error messages for questionnaire -->
					<div id="questiroud-quiz"></div> <!-- Canvas for questionnaire -->
					<div id="questiroud-contact-wrong"></div> <!-- Canvas for error messages for contact -->
					<div id="questiroud-contact"></div> <!-- Canvas for filling contact information -->
					<div id="questiroud-waiting"></div> <!-- Canvas for waiting message (before receiving inputs) -->
					<div id="questiroud-response"></div> <!-- Canvas for correct (non-error) response -->
					<div id="questiroud-response-wrong"></div> <!-- Canvas for error response -->
				</form>
				<script src="js/questiroud.js"></script>
				<!-- ============================================================================ -->

			<div class="clearfix"></div>
		</div>
	</div>
</div>