<div class="experience">
	<div class="container">
	<h3 class="title-txt"><span>J</span>ak se k nám připojit?</h3>
		<div class="experience-info">
			<div class="col-md-7 exp-matter">
				<div class="exp-left">
					<div class="ex-lt">
						<h6>1. <span>krok</span></h6>
					</div>
					<div class="ex-rt">
						<h5>Vyplňte přihlášku</h5>
						<p>Pošlete nám svůj motivační dopis a CV.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="exp-left">
					<div class="ex-lt">
						<h6>2. <span>krok</span></h6>
					</div>
					<div class="ex-rt">
						<h5>Příjďte na pohovor</h5>
						<p>Každý, kdo se přihlásí, je pozván na půlhodinový pohovor</p>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="exp-left">
					<div class="ex-lt">
						<h6>3. <span>krok</span></h6>
					</div>
					<div class="ex-rt">
						<h5>Nalezneme způsob jak můžete pomoci</h5>
						<p>Navrhneme vám způsoby, jak a kde se můžete efektivně zapojit.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="exp-left">
					<div class="ex-lt">
						<h6>4. <span>krok</span></h6>
					</div>
					<div class="ex-rt">
						<h5>Stanete se dobrovolníkem</h5>
						<p>Po zvládnutí základních pravidel můžete začít pracovat samostatně.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-5 exp-info-right">
				<div class="ex-top">
					<h4>NAŠE AKTIVITY</h4>
					<li><span class="fa fa-check" aria-hidden="true"></span>Sociálně vyloučení lidé</li>
					<li><span class="fa fa-check" aria-hidden="true"></span>Drogově závislí</li>
					<li><span class="fa fa-check" aria-hidden="true"></span>Těhotné ženy</li>
					<li><span class="fa fa-check" aria-hidden="true"></span>Bezdomovci</li>
					<li><span class="fa fa-check" aria-hidden="true"></span>Vzdělávání dětí</li>
					<li><span class="fa fa-check" aria-hidden="true"></span>Rovné příležitosti</li>
					<li><span class="fa fa-check" aria-hidden="true"></span>Udržitelný rozvoj</li>
					<li><span class="fa fa-check" aria-hidden="true"></span>Senioři a hendikepovaní</li>
					<li><span class="fa fa-check" aria-hidden="true"></span>Tvorba komunit</li>
					<li><span class="fa fa-check" aria-hidden="true"></span>Dobrovolnictví</li>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% include 'tag_about.html' %}
{% include 'tag_our_values.html' %}