<!-- Events -->
<div class="events-section">
    <div class="container">
        <h3 class="title-txt two"><span>N</span>aše cíle</h3>
        <div class="col-sm-4 live-grids-w3ls">
            <div class="live-left1">
                <img src="images/g1.jpg" alt=" " class="img-responsive">
            </div>
            <div class="live-info">
                <h4>Ochrana práv seniorů</h4>
                <p class="para-1">Aktivně se stavíme se za ochranu práv seniorů v Libereckém kraji.</p>
            </div>

        </div>
        <div class="col-sm-4 live-grids-w3ls">
            <div class="live-left2">
                <img src="images/g2.jpg" alt=" " class="img-responsive">
            </div>
            <div class="live-info">
                <h4>Dostupná péče</h4>
                <p class="para-1">Požadujeme dostupnou a kvalitní zdravotní a sociální péči pro seniory.</p>
            </div>
        </div>
        <div class="col-sm-4 live-grids-w3ls">
            <div class="live-left3">
                <img src="images/g3.jpg" alt=" " class="img-responsive">
            </div>
            <div class="live-info">
                <h4>Volnočasové aktivity</h4>
                <p class="para-1">Organizujeme vzdělávací a volnočasové aktivity pro seniory.</p>
            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>